@use "layout_builder_ui";
@use "field_group";

:root {
  --color--text: #222330;
  --color--admin: #ba182a;
  --color--admin-accent: #8c1220;
  --color--admin-light: #e84f61;
  --color--admin-verylight: #fdf5f5;
  --filter--blue-to-red: hue-rotate(131deg) saturate(0.77) brightness(1.02);
}

.region--pre_content {
  margin-bottom: 1.5rem;
}

.layout-region-node-main > .field--name-title >.form-item {
  margin-top: 0;
}

/**
 *
 * make sidebar smaller on large screens
 *
 */

@media screen and (min-width: 780px), (min-device-height: 780px) and (orientation: landscape) {
  .layout-region-node-main, .layout-region-node-footer {
    width: calc(100% - 23rem);
    padding-right: 1rem;
  }

  .layout-region-node-secondary {
    margin-top: 0;
    width: 22rem;
  }
}

/**
 *
 * BUTTONS, LINKS
 *
 */
%button {
  display: inline-block;
  margin: 1rem 0.75rem 1rem 0;
  padding: calc(1rem - 1px) calc(1.5rem - 1px);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: var(--color--text);
  border: 1px solid transparent !important;
  border-radius: 2px;
  background-color: #d4d4d8;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  appearance: none;

  &:hover, &:focus {
    text-decoration: none;
    background-color: #c2c3ca;
    color: var(--color--text);
  }
}

a {
  color: var(--color--admin);

  &:hover, &:focus {
    color: var(--color--admin-accent);
  }
}

.button--primary {
  background-color: var(--color--admin);

  &:hover, &:focus {
    background-color: var(--color--admin-accent);
    color: white;
  }
}

.form-boolean--type-checkbox:checked, .form-boolean--type-radio:checked {
  filter: var(--filter--blue-to-red);
}

/**
 *
 * VIEWS TABLES
 *
 */

.sortable-heading.is-active > a {
  color: var(--color--admin);

  &::before {
    border-bottom-color: var(--color--admin);
  }

  &:hover, &:focus {
    color: var(--color--admin-accent);
    outline: 0;
  }
}

.tablesort--desc, .tablesort--asc {
  filter: var(--filter--blue-to-red);
}

/**
 *
 * PRIMARY AND SECONDARY TABS
 *
 */

.tabs {
  &__tab.is-active {
    &::before {
      border-left-color: var(--color--admin);
    }
  }

  &__link.is-active {
    color: var(--color--admin);
  }

  &__trigger svg {
    filter: var(--filter--blue-to-red)
  }
}

.is-horizontal-enabled:not(.is-horizontal) {
  .tabs__link.is-active {
    color: var(--color--admin);
  }
}

@media screen and (min-width: 48em) {
  .is-horizontal {
    .tabs--primary, .tabs--secondary {
      width: 100%;
    }

    .tabs--primary {
      border-bottom: 1px solid #d4d4d8;

      .tabs__tab {
        background-color: #ebebeb;

        &.is-active {
          background-color: var(--color--admin);
        }
      }
    }

    .tabs--secondary {
      margin: 0;
      padding: 0;

      &::after {
        content: none;
      }

      .tabs__tab {
        background-color: #f5f5f2;

        &.is-active {
          background-color: var(--color--admin-light) !important;
        }
      }
    }

    .tabs__link {
      &:hover, &:focus {
        background-color: transparent;
        color: var(--color--admin);
      }

      &.is-active {
        color: white;
      }
    }
  }

  .tabs__link {
    &:hover, &:focus {
      color: var(--color--admin);
      outline: 0;
    }

    &.is-active {
      color: white;
    }

    &::before {
      content: none;
    }
  }
}

/**
 *
 * VERTICAL TABS
 *
 */

.vertical-tabs {
  &__menu-item {
    &.is-selected {
      .vertical-tabs__menu-link {
        color: var(--color--admin);

        &:hover, &:focus {
          color: var(--color--admin);
        }

        &::before {
          border-left-color: var(--color--admin);
        }
      }
    }
  }

  &__menu-link {
    &:hover, &:focus {
      color: var(--color--admin);
    }
  }
}

/**
 *
 * DETAILS, ACCORDIONS
 *
 */

.claro-details[open] > .claro-details__summary:focus {
  color: var(--color--admin-accent);
}

.claro-details__summary:hover {
  color: var(--color--admin-accent);
  background-color: var(--color--admin-verylight);
}

[open] {
  .claro-details__summary--accordion, .claro-details__summary--accordion-item, .claro-details__summary--vertical-tabs-item {
    color: var(--color--admin);

    &::after {
      border-left-color: var(--color--admin) !important;
    }

    &:hover, &:focus {
      color: var(--color--admin-accent);
    }
  }
}

.claro-details[open] > .claro-details__summary:focus {
  color: var(--color--admin-accent);
}

.claro-details__summary:hover::before, .claro-details__summary:focus::before, .claro-details[open] > .claro-details__summary::before {
  filter:var(--filter--blue-to-red);
}

/**
 *
 * make input fields full width
 *
 */
.form-element {
    width: 100%;
}

/**
 *
 * side by side input fields for multi-column fields like daterange, geolocation, etc
 *
 */
.field--type-daterange .fieldset__wrapper, .geolocation-widget-input > .fieldset__wrapper {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));

  .form-item {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/*
 *
 * Entity browser select link style like button
 *
 */

a.entity-browser-handle {
  @extend %button;
}

/**
 *
 * force view bulk actions into a single line
 *
 */

[data-drupal-selector*="-bulk-form"] {
  @media (min-width: 768px) {
    flex-flow: row nowrap;
    display: flex;
    align-items: flex-end;

    > * {
      margin-top: 1rem;
      margin-bottom: 1rem;

      & + * {
        margin-left: 1rem;
      }
    }

    > [data-drupal-selector="edit-actions"] {
      margin-bottom: 0;
    }
  }
}

/**
 *
 * views exposed forms are wrapped into a details, remove form styling
 *
 */

.views-exposed-form.views-exposed-form {
  display: block;
  border: 0;
  padding: 0;
}

/**
 *
 * VIEWS PAGER
 *
 */

.pager__link.is-active, .pager__item--current {
  background-color: var(--color--admin);
}

/**
 *
 * Admin menu blocks
 *
 */

.admin-item__link::before {
  filter: var(--filter--blue-to-red);
}

/**
 *
 * Spacing for form field prefixes
 *
 */

@media screen and (min-width: 601px) {
  .form-item__prefix {
    margin-right: 0.5rem;
  }
}
