.wt_admin__row {
  display: flex;
  flex-flow: row wrap;

  .js-form-item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    > div {
      width: 100%;
    }

    > label {
      width: 100%;
      flex: 0 0 auto;
    }

    > input, select, textarea {
      width: 50%;
      flex: 1 1 auto;
    }

    > .field-prefix, > .field-suffix {
      flex: 0 0 auto;
    }

    > .field-prefix {
      padding-right: 0.25em;
    }

    > .field-suffix {
      padding-left: 0.25em;
    }
  }

  .js-form-type-radio, .js-form-type-checkbox {
    align-items: flex-start;

    input {
      flex: 0 0 auto;
    }

    label {
      width: calc(100% - 16px - 0.25em);
      flex: 1 1 auto;
    }
  }

  > div {
    flex: 1 1 auto;
    min-width: 150px;
    padding-right: 10px;
    width: 100%;
    box-sizing: border-box;

    &:last-child {
      padding-right: 0;
      min-width: 140px;
    }
  }

  &--quarter > div {
    width: 25%;
  }

  &--third > div {
    width: 33.3333%;
  }

  &--half > div {
    width: 50%;
  }

  &--one-two {
    > div:nth-child(odd) {
      width: 33.3333%;
    }
    > div:nth-child(even) {
      width: 66.6666%;
    }
  }

  &--two-one {
    > div:nth-child(odd) {
      width: 66.6666%;
    }
    > div:nth-child(even) {
      width: 33.3333%;
    }
  }
}
