{% extends '@wt_frontend/field/field.html.twig' %}
{% set attributes = attributes.removeClass(['rt']) %}
{% block content %}<textarea readonly style="width: 100%;" rows="3">{{ item.content }}</textarea>{% endblock %}
